In [33]:
import os
import pandas as pd

In [34]:
names=os.listdir('csv')

In [36]:
for i in range(len(names)):
    data=pd.read_csv('csv/%s' %names[i])
    print(data.shape)

(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 6)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(37, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)
(38, 5)

In [37]:
newcolmuns=['Unnamed','state' ,'1st Dose', '2nd Dose', 'Total Doses']

In [38]:
data=pd.read_csv('csv/%s' %names[i],names = newcolmuns)
data=data[1:]
data=data.drop('Unnamed', 1)

In [39]:
data

                   state     1st Dose   2nd Dose  Total Doses
1          A & N Islands     1,15,688     15,348     1,31,036
2         Andhra Pradesh    93,06,916  26,22,690  1,19,29,606
3      Arunachal Pradesh     3,35,535     79,041     4,14,576
4                  Assam    38,78,327   9,28,155    48,06,482
5                  Bihar  1,01,06,377  19,12,589  1,20,18,966
6             Chandigarh     3,29,275     75,739     4,05,014
7          Chhattisgarh*    60,52,670  11,59,860    72,12,530
8   Dadra & Nagar Haveli     1,10,018     12,045     1,22,063
9            Daman & Diu     1,30,516     14,302     1,44,818
10                 Delhi    46,45,751  14,42,900    60,88,651
11                   Goa     5,40,700     97,879     6,38,579
12               Gujarat  1,56,97,737  45,72,559  2,02,70,296
13               Haryana    57,04,961  10,64,765    67,69,726
14      Himachal Pradesh    21,51,620   4,35,973    25,87,593
15       Jammu & Kashmir    30,93,150   5,82,955    36,76,105
16             Jharkhand    42,99,448   7,98,358    50,97,806
17             Karnataka  1,39,43,769  30,11,942  1,69,55,711
18                Kerala    89,74,431  22,38,447  1,12,12,878
19                Ladakh     1,53,677     37,375     1,91,052
20           Lakshadweep       39,686      7,073       46,759
21        Madhya Pradesh  1,19,79,616  19,50,285  1,39,29,901
22           Maharashtra  2,07,27,966  51,81,057  2,59,09,023
23               Manipur     4,66,390     71,437     5,37,827
24             Meghalaya     4,28,457     74,696     5,03,153
25               Mizoram     2,91,725     52,319     3,44,044
26              Nagaland     2,83,720     52,332     3,36,052
27                Odisha    73,44,019  16,31,043    89,75,062
28            Puducherry     2,73,909     52,877     3,26,786
29               Punjab*    48,25,739   8,72,028    56,97,767
30             Rajasthan  1,63,63,858  33,38,215  1,97,02,073
31                Sikkim     2,13,698     59,794     2,73,492
32            Tamil Nadu    86,91,807  21,51,121  1,08,42,928
33             Telangana    66,11,795  13,42,756    79,54,551
34               Tripura    11,47,923   5,12,652    16,60,575
35         Uttar Pradesh  1,91,60,094  37,95,916  2,29,56,010
36           Uttarakhand    26,20,670   6,98,506    33,19,176
37           West Bengal  1,35,98,946  40,41,058  1,76,40,004
38         Miscellaneous    17,29,088  14,91,542    32,20,630

In [40]:
import locale
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' ) 
for i in range(len(data)):
    if locale.atoi(data.iloc[i,1])+locale.atoi(data.iloc[i,2])!=locale.atoi(data.iloc[i,3]):
        print(i)

In [41]:
len(data)

38

In [42]:
for i in range(len(names)):
    data=pd.read_csv('csv/%s' %names[i],names = newcolmuns)
    data=data[1:]
    data=data.drop('Unnamed', 1)
    print("date index:%s" %names[i])
    for j in range(len(data)):
        if locale.atoi(data.iloc[j,1])+locale.atoi(data.iloc[j,2])!=locale.atoi(data.iloc[j,3]):
            print(j)

date index:20210224.csv
date index:20210225.csv
date index:20210226.csv
date index:20210227.csv
date index:20210228.csv
date index:20210301.csv
date index:20210302.csv
date index:20210303.csv
date index:20210304.csv
date index:20210305.csv
date index:20210306.csv
date index:20210307.csv
date index:20210308.csv
date index:20210309.csv
date index:20210310.csv
date index:20210311.csv
date index:20210312.csv
date index:20210313.csv
date index:20210314.csv
date index:20210315.csv
date index:20210316.csv
date index:20210317.csv
date index:20210318.csv
date index:20210319.csv
date index:20210320.csv
date index:20210321.csv
date index:20210322.csv
date index:20210323.csv
date index:20210324.csv
date index:20210325.csv
date index:20210326.csv
date index:20210327.csv
date index:20210328.csv
date index:20210329.csv
date index:20210330.csv
date index:20210331.csv
date index:20210401.csv
date index:20210402.csv
date index:20210403.csv
date index:20210404.csv
date index:20210405.csv
date index:20210406.csv
date index:20210407.csv
date index:20210408.csv
date index:20210409.csv
date index:20210410.csv
date index:20210411.csv
date index:20210412.csv
date index:20210413.csv
date index:20210414.csv
date index:20210415.csv
date index:20210416.csv
date index:20210417.csv
date index:20210418.csv
date index:20210419.csv
date index:20210420.csv
date index:20210421.csv
date index:20210422.csv
date index:20210423.csv
date index:20210424.csv
date index:20210425.csv
date index:20210426.csv
date index:20210427.csv
date index:20210428.csv
date index:20210429.csv
date index:20210430.csv
date index:20210501.csv
date index:20210502.csv
date index:20210503.csv
date index:20210504.csv
date index:20210505.csv
date index:20210506.csv
date index:20210507.csv
date index:20210508.csv
date index:20210509.csv
date index:20210510.csv
date index:20210511.csv
date index:20210512.csv
date index:20210513.csv
date index:20210514.csv
date index:20210515.csv
date index:20210516.csv
date index:20210517.csv
date index:20210518.csv
date index:20210519.csv
date index:20210520.csv
date index:20210521.csv
date index:20210522.csv
date index:20210523.csv
date index:20210524.csv
date index:20210525.csv
date index:20210526.csv
date index:20210527.csv
date index:20210528.csv
date index:20210529.csv
date index:20210530.csv
date index:20210531.csv
date index:20210601.csv
date index:20210602.csv
date index:20210603.csv
date index:20210604.csv
date index:20210605.csv
date index:20210606.csv
date index:20210607.csv
date index:20210608.csv
date index:20210609.csv
date index:20210610.csv
date index:20210611.csv
date index:20210612.csv
date index:20210613.csv

In [208]:
state=[
'A & N Islands',
'Andhra Pradesh',
'Arunachal Pradesh',
'Assam',
'Bihar',
'Chandigarh',
'Chhattisgarh',
'Dadra & Nagar Haveli',
'Daman & Diu',
'Delhi',
'Goa',
'Gujarat',
'Haryana',
'Himachal Pradesh',
'Jammu & Kashmir',
'Jharkhand',
'Karnataka',
'Kerala',
'Ladakh',
'Lakshadweep',
'Madhya Pradesh',
'Maharashtra',
'Manipur',
'Meghalaya',
'Mizoram',
'Nagaland',
'Odisha',
'Puducherry',
'Punjab',
'Rajasthan',
'Sikkim',
'Tamil Naduv',
'Telangana',
'Tripura',
'Uttar Pradesh',
'Uttarakhand',
'West Bengal',
'Miscellaneous'
]

In [227]:
Dose1=pd.DataFrame()
Dose2=pd.DataFrame()
DoseTotal=pd.DataFrame()
for i in range(len(names)):
    data=pd.read_csv('csv/%s' %names[i],names = newcolmuns)
    data=data[1:]
    data=data.drop('Unnamed', 1)
    data=data.T
    data.columns=state
    Dose1temp=data[1:2]
    Dose1temp.index=pd.Series(["%s" %(names[i][0:8])])

    Dose1= Dose1.append(Dose1temp)
    
    Dose2temp=data[2:3]
    Dose2temp.index=pd.Series(["%s" %(names[i][0:8])])
    Dose2= Dose2.append(Dose2temp)
    
    DoseTotaltemp=data[3:4]
    DoseTotaltemp.index=pd.Series(["%s" %(names[i][0:8])])
    DoseTotal= DoseTotal.append(DoseTotaltemp)

In [230]:
Dose1.head()

,A & N Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Dadra & Nagar Haveli,Daman & Diu,Delhi,...,Punjab,Rajasthan,Sikkim,Tamil Naduv,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,Miscellaneous
20210224,"5,644","4,72,460","22,433","1,79,625","5,40,315","17,256","3,66,493","5,047","1,858","3,48,669",...,"1,39,305","7,83,652","15,875","3,68,678","2,83,387","86,336","11,40,754","1,39,169","7,87,013","4,69,356"
20210225,"6,034","5,03,858","24,193","1,89,569","5,48,175","18,894","3,73,644","5,252","2,151","3,62,072",...,"1,49,029","7,97,900","16,630","3,78,411","2,84,058","88,487","11,67,285","1,40,671","8,72,999","5,23,554"
20210226,"6,134","5,29,607","25,379","1,95,906","5,60,158","20,890","3,77,834","5,352","2,371","3,72,906",...,"1,54,449","7,98,447","16,951","3,88,896","2,89,772","89,449","11,70,925","1,42,340","9,61,416","5,81,724"
20210227,"6,134","5,29,607","25,379","1,95,906","5,60,158","20,890","3,77,834","5,352","2,371","3,72,906",...,"1,54,449","7,98,447","16,951","3,88,896","2,89,772","89,449","11,70,925","1,42,340","9,61,416","6,38,130"
20210228,"6,134","5,29,607","25,379","1,95,906","5,60,158","20,890","3,77,834","5,352","2,371","3,72,906",...,"1,54,449","7,98,447","16,951","3,88,896","2,89,772","89,449","11,70,925","1,42,340","9,61,416","6,38,130"

In [229]:
Dose1.to_csv("Dose1.csv")
Dose2.to_csv('Dose2.csv')
DoseTotal.to_csv('DoseTotal.csv')